<div class="row">
    <div class="col-sm-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-success" style="margin-right: 10px;" [disabled]="!recipeForm.valid">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input type="text" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <img [src]="imagePath.value" alt="" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="" id="description" cols="30" rows="10" class="form-control" formControlName="description"></textarea>
                    </div>
                </div>
                <div class="col-sm-12" formArrayName="ingredients">
                    <div class="row" style="margin-bottom: 10px;" *ngFor="let ingredientCtrl of controls; let i = index" [formGroupName]="i">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" formControlName="amount">
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add ingredient</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>